
.block{
    background-color: red;
    min-height: 100px;
}

.block2{
    background-color: red;
    min-height: 46px;
}

.block.side{
    background-color: yellow;
}

@media (max-width: 768px) {
       main{
       background-color: gray;

    }
}